#### Import Libraries

In [1]:
import pandas as pd
import re

#### Import Datasets

In [45]:
df_ratings = pd.read_csv('stocks_us/ratings-history.csv')
df_is_stocks = pd.read_csv('stocks_us/us_stocks.csv')

In [46]:
rating_set = {'A', 'A+', 'A-', 'AA', 'AA-', 'AAA', 
              'B', 'B+', 'B-', 'BB', 'BB+', 'BB-', 'BBB', 'BBB+', 'BBB-',
              'CC', 'CCC', 'CCC+', 'CCC-', 'D'}

In [47]:
df_ratings = df_ratings[df_ratings['Rating'].isin(rating_set)]

In [48]:
df_ratings = df_ratings.drop_duplicates(subset = df_ratings.columns)

In [49]:
df_ratings['Rating'] = df_ratings['Rating'].str.replace(r'+', '').str.replace(r'-', '')

In [50]:
df_ratings.groupby('Rating').count()

        Rating Agency Name   Name  Rating Outlook   date
Rating
A                     6683   6683            5505   6683
AA                    1106   1106             941   1106
AAA                    130    130             124    130
B                    16418  16418           13964  16418
BB                    9840   9840            8150   9840
BBB                  13398  13398           10822  13398
CC                     296    296             199    296
CCC                   2150   2150            1704   2150
D                      280    280             196    280

## Clean Company Names

In [51]:
df_is_stocks['Clean_Name'] = df_is_stocks['Name']
df_ratings['Clean_Name'] = df_ratings['Name']

In [52]:
def clean(company_name):
    
    name = company_name.lower()
    name = re.sub(r'\.', '', name)
    name = re.sub(r',', '', name)
    name = re.sub(r'^a-z', '', name)
    name = re.sub(r'corporation', '', name)
    name = re.sub(r' corp', '', name)    
    name = re.sub(r' co', '', name)   
    name = re.sub(r'inc', '', name)
    name = re.sub(r'limited', '', name)
    name = re.sub(r'ltd', '', name)
    name = re.sub(r'holdings', '', name)
    name = re.sub(r' holding', '', name)    
    name = re.sub(r'plc', '', name)
    name = re.sub(r'group', '', name)
    name = re.sub(r' ag', '', name)
    name = re.sub(r' sa', '', name)
    name = re.sub(r' pty', '', name)
    name = re.sub(r' international', '', name)
    name = re.sub(r' incorporated', '', name)
    name = re.sub(r' spa', '', name)
    name = re.sub(r' se', '', name)
    name = re.sub(r' lp', '', name)    
    name = re.sub(r' (The)', '', name)    
    name = re.sub(r'The', '', name)    
    name = re.sub(r'LLC', '', name)   
    name = re.sub(r'n.v', '', name)   
    name = name.strip()
    return name

In [53]:
df_is_stocks['Clean_Name'] = df_is_stocks['Name'].apply(clean)
df_ratings['Clean_Name'] = df_ratings['Clean_Name'].apply(clean)

In [54]:
df_is_stocks[df_is_stocks['Clean_Name'] =='microsoft ']

Empty DataFrame
Columns: [Symbol, Name, Sector, industry, Clean_Name]
Index: []

In [55]:
df_ratings[df_ratings['Rating'] == 'AAA'].head(30)

,Rating Agency Name,Name,Rating,Rating Outlook,date,Clean_Name
848,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,11/23/2010,microsoft
2445,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,9/26/2011,johnson & johnson
2543,Standard & Poor's Ratings Services,Temasek Holdings (Private) Limited,AAA,Stable,12/14/2015,temasek (private)
2991,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,9/30/2013,exxon mobil
3188,Standard & Poor's Ratings Services,Temasek Holdings (Private) Limited,AAA,Stable,9/17/2013,temasek (private)
4118,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,5/6/2010,imperial oil
4366,Standard & Poor's Ratings Services,SeaRiver Maritime Financial Holdings,AAA,Stable,7/7/2015,seariver maritime financial
4642,Standard & Poor's Ratings Services,Singapore Technologies Engineering Ltd.,AAA,Stable,8/28/2014,singapore technologies engineering
5308,Standard & Poor's Ratings Services,Airport Authority Hong Kong,AAA,Stable,12/7/2011,airport authority hong kong
6405,Standard & Poor's Ratings Services,Urban Renewal Authority,AAA,Stable,2/16/2015,urban renewal authority
8116,Standard & Poor's Ratings Services,EBN B.V.,AAA,Negative,10/26/2012,ebn bv
8211,Standard & Poor's Ratings Services,Temasek Holdings (Private) Limited,AAA,Stable,2/16/2011,temasek (private)
8727,Standard & Poor's Ratings Services,Urban Renewal Authority,AAA,Stable,4/1/2014,urban renewal authority
8869,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,10/22/2015,johnson & johnson
9946,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,1/16/2015,imperial oil
10373,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,12/29/2010,exxon mobil
10969,Standard & Poor's Ratings Services,Mobil Corp.,AAA,Stable,12/23/2011,mobil
11013,Standard & Poor's Ratings Services,Temasek Holdings (Private) Limited,AAA,Stable,10/5/2011,temasek (private)
11248,Standard & Poor's Ratings Services,MTR Corp. Ltd.,AAA,Stable,9/1/2015,mtr
11713,Standard & Poor's Ratings Services,Airservices Australia,AAA,Stable,12/17/2015,airservices australia
12740,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,7/30/2013,automatic data processing
12810,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,11/7/2014,imperial oil
12909,Standard & Poor's Ratings Services,Airport Authority Hong Kong,AAA,Stable,9/30/2014,airport authority hong kong
13461,Standard & Poor's Ratings Services,Singapore Technologies Engineering Ltd.,AAA,Stable,8/29/2011,singapore technologies engineering
13559,Standard & Poor's Ratings Services,Mobil Corp.,AAA,Stable,1/16/2015,mobil
13919,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,11/16/2012,microsoft
14186,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,8/18/2015,microsoft
14669,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,11/9/2011,automatic data processing
14673,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,1/31/2012,imperial oil
15620,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,12/26/2012,exxon mobil

In [56]:
df_ratings = pd.merge(df_ratings, df_is_stocks ,on='Clean_Name')

In [57]:
df_ratings = df_ratings.rename(columns = {'Name_x': 'Name'}).drop('Name_y', axis = 1)

In [58]:
df_ratings.groupby('Rating').count()

,Rating Agency Name,Name,Rating Outlook,date,Clean_Name,Symbol,Sector,industry
Rating,,,,,,,,
A,1779,1779,1297,1779,1779,1779,1491,1491
AA,208,208,141,208,208,208,185,185
AAA,39,39,35,39,39,39,39,39
B,1965,1965,1664,1965,1965,1965,1802,1802
BB,2922,2922,2505,2922,2922,2922,2600,2600
BBB,3899,3899,3002,3899,3899,3899,3370,3370
CC,21,21,16,21,21,21,19,19
CCC,229,229,179,229,229,229,192,192
D,22,22,15,22,22,22,18,18

In [59]:
len(df_ratings)

11084

In [60]:
df_ratings[df_ratings['Rating'] == 'AAA']

,Rating Agency Name,Name,Rating,Rating Outlook,date,Clean_Name,Symbol,Sector,industry
1634,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,11/23/2010,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1635,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,11/16/2012,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1636,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,8/18/2015,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1637,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,6/13/2016,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1638,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,8/6/2013,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1639,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,8/15/2016,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1640,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,11/3/2011,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
1641,Standard & Poor's Ratings Services,Microsoft Corp.,AAA,Stable,8/20/2014,microsoft,MSFT,Technology,Computer Software: Prepackaged Software
4061,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,9/26/2011,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4062,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,10/22/2015,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4063,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,9/18/2012,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4064,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,10/28/2016,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4065,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,11/4/2010,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4066,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,11/25/2014,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4067,Standard & Poor's Ratings Services,Johnson & Johnson,AAA,Stable,9/25/2013,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4068,Fitch Ratings,Johnson & Johnson,AAA,NaN,6/15/2012,johnson & johnson,JNJ,Health Care,Major Pharmaceuticals
4827,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,9/30/2013,exxon mobil,XOM,Energy,Integrated oil Companies
4828,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,12/29/2010,exxon mobil,XOM,Energy,Integrated oil Companies
4829,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,12/26/2012,exxon mobil,XOM,Energy,Integrated oil Companies
4830,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,12/23/2011,exxon mobil,XOM,Energy,Integrated oil Companies
4831,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,1/16/2015,exxon mobil,XOM,Energy,Integrated oil Companies
4832,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,9/26/2014,exxon mobil,XOM,Energy,Integrated oil Companies
4833,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,NaN,2/2/2016,exxon mobil,XOM,Energy,Integrated oil Companies
4834,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,9/21/2015,exxon mobil,XOM,Energy,Integrated oil Companies
4835,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Negative,10/2/2015,exxon mobil,XOM,Energy,Integrated oil Companies
4836,Standard & Poor's Ratings Services,Exxon Mobil Corp.,AAA,Stable,5/27/2015,exxon mobil,XOM,Energy,Integrated oil Companies
4837,"Morningstar Credit Ratings, LLC.",Exxon Mobil Corp,AAA,NaN,11/18/2009,exxon mobil,XOM,Energy,Integrated oil Companies
5870,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,5/6/2010,imperial oil,IMO,Energy,Integrated oil Companies
5871,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,1/16/2015,imperial oil,IMO,Energy,Integrated oil Companies
5872,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,11/7/2014,imperial oil,IMO,Energy,Integrated oil Companies
5873,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,1/31/2012,imperial oil,IMO,Energy,Integrated oil Companies
5874,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,9/30/2013,imperial oil,IMO,Energy,Integrated oil Companies
5875,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Stable,8/7/2015,imperial oil,IMO,Energy,Integrated oil Companies
5876,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,NaN,2/2/2016,imperial oil,IMO,Energy,Integrated oil Companies
5877,Standard & Poor's Ratings Services,Imperial Oil Ltd.,AAA,Negative,10/5/2015,imperial oil,IMO,Energy,Integrated oil Companies
9544,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,7/30/2013,automatic data processing,ADP,Technology,EDP Services
9545,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,11/9/2011,automatic data processing,ADP,Technology,EDP Services
9549,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,9/16/2010,automatic data processing,ADP,Technology,EDP Services
9550,Standard & Poor's Ratings Services,Automatic Data Processing Inc.,AAA,Stable,12/18/2012,automatic data processing,ADP,Technology,EDP Services

## API Function get Data

In [330]:
#!/usr/bin/env python

try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen

import json

def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    
    response = urlopen(url)
    data = response.read().decode("utf-8")
    
    return json.loads(data)

## Get Financial Data

In [331]:
Symbol_list = list(set(df_ratings.Symbol))

In [215]:
company_ratios = pd.DataFrame.from_dict(get_jsonparsed_data("https://financialmodelingprep.com/api/v3/ratios/" + Symbol_list[0] + 
                                                         "?apikey=c283e7eb3ddc10dcc0ed8146046dff97"))

company_ratios = company_ratios[0:0]

In [218]:
for Symbol in Symbol_list:
    
    if Symbol.isalpha() == True:
    
        ratios = pd.DataFrame.from_dict(get_jsonparsed_data("https://financialmodelingprep.com/api/v3/ratios/" + 
                                                             Symbol + "?apikey=c283e7eb3ddc10dcc0ed8146046dff97"))
    
        frames = [company_ratios, ratios]
    
        company_ratios = pd.concat(frames)

In [332]:
company_ratios.head()

,Symbol,date,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,...,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue,Year
0,DNR,2019-12-31,0.495854,0.416899,0.00141664,39.910329,0,39.9103,140.603,-100.693,...,2.11802,0.929941,0.929941,0.929941,3.01608,0.360444,NaN,4.92373,0.325382,2019
1,DNR,2018-12-31,0.812225,0.705682,0.105704,31.156244,0,31.1562,147.857,-116.701,...,2.82784,1.7228,1.7228,1.7228,3.7899,0.619248,NaN,5.75903,0.799227,2018
2,DNR,2017-12-31,0.44155,0.319593,0.000126622,47.276130,NaN,NaN,NaN,NaN,...,5.8944,3.59988,3.59988,3.59988,7.14069,0.851208,0.000285957,15.537,1.4837,2017
3,DNR,2016-12-31,0.417826,0.29191,0.00370476,46.742340,NaN,NaN,NaN,NaN,...,-1.29065,5.74714,5.74714,5.74714,-1.49527,1.29142,0.000385743,-6.41776,2.68953,2016
4,DNR,2015-12-31,0.924113,0.659681,0.00753857,29.144331,NaN,NaN,NaN,NaN,...,-0.124077,0.62956,0.62956,0.62956,-0.134113,0.432688,0.120239,-0.665779,0.435684,2015

## Merge Datasets

#### select dates

In [333]:
df_ratings['date'] = df_ratings['date'].astype('datetime64[ns]')
df_ratings['month_rating'] = df_ratings['date'].dt.month
df_ratings['year_change'] = [1 if x < 7 else 0 for x in df_ratings['month_rating']]
df_ratings['year'] = df_ratings['date'].dt.year

In [334]:
df_ratings['Year'] = df_ratings['year'] - df_ratings['year_change']

In [335]:
company_ratios = company_ratios.rename(columns = {'symbol':'Symbol'})

In [336]:
company_ratios['date'] = company_ratios['date'].astype('datetime64[ns]')
company_ratios['Year'] = company_ratios['date'].dt.year

In [337]:
df_ratings = pd.merge(df_ratings, company_ratios, on=['Symbol', 'Year'])

In [338]:
df_ratings.groupby('Rating').count()

,Rating Agency Name,Name,Rating Outlook,date_x,Clean_Name,Symbol,Sector,industry,month_rating,year_change,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
Rating,,,,,,,,,,,,,,,,,,,,,
A,854,854,625,854,854,854,854,854,854,854,...,688,682,810,697,697,681,688,651,800,646
AA,142,142,100,142,142,142,142,142,142,142,...,118,112,140,117,117,112,118,103,141,94
AAA,20,20,18,20,20,20,20,20,20,20,...,17,17,19,16,16,17,17,16,20,17
B,845,845,734,845,845,845,837,837,845,845,...,738,725,833,716,716,719,738,314,839,705
BB,1601,1601,1428,1601,1601,1601,1565,1565,1601,1601,...,1431,1414,1566,1404,1404,1397,1431,895,1586,1349
BBB,1871,1871,1439,1871,1871,1871,1853,1853,1871,1871,...,1647,1624,1824,1641,1641,1612,1647,1410,1809,1565
CC,12,12,7,12,12,12,12,12,12,12,...,8,9,12,9,9,9,8,1,12,9
CCC,96,96,82,96,96,96,96,96,96,96,...,84,80,92,82,82,80,84,30,94,83
D,7,7,5,7,7,7,7,7,7,7,...,6,5,6,6,6,5,6,0,6,6

In [341]:
df_ratings.to_csv (r'C:stocks_us/rating_dataframe.csv', index = False, header=True)